<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('_head', { title: 'index' }) %>
</head>
<body>
    <%- include('_nav') %>
    <div class="container">
        <div class="row">
            <% articles.forEach(function(a) { %>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <a href="/article/<%= a.id %>">
                            <img src="<%= a.meta.cover %>" alt="<%= a.title %>">
                        </a>
                        <div class="caption">
                            <h3><%= a.title %></h3>
                            <p>
                                <a href="/article/<%= a.id %>" class="btn btn-primary" role="button">detail</a>
                            </p>
                      </div>
                    </div>
                </div>
            <% }) %>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <%- include('_pagination', { pager: pager }) %>
            </div>
        </div>
    </div>
    <%- include('_footer') %>
</body>
</html>