<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('_head', { title: 'thread' }) %>
</head>
<body>
    <%- include('_nav') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <% articles.forEach(function(a) {%>
                        <li><a href="/article/<%= a.id %>"><%= a.title %></a></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
    <%- include('_footer') %>
</body>
</html>